.all-body {
    background-color: #F6FAFD;
}

/* navbar  part  */

.navbar-main-div {
    display: flex;
    justify-content: space-between;

}

/* navbar logo  */
.logo {
    width: 211px;
    height: 35px;
}

.round-img {
    width: 26px;
    height: 26px;
    margin-top: 9px;
    margin-left: 68px;
    margin-right: 20px;
}

.person-img {
    width: 46px;
    margin-right: 10px;
}

/* navbar link  */
.nav-link {
    color: #707070;
}

.nav-link:hover {
    color: #0188F3;
}

.btn {
    color: white;
    background-color: #0188F3;
    border-radius: 0%;
}


/* maid div for all */
.the-main-div {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.left-site {
    width: 100%;
}

/* INput filds  */

.small-input-1 {
    width: 60px;
    height: 44px;
    margin-left: 15px;
    padding: 10px;
    border: 1px solid #7FC3F9;
}

.small-input-2 {
    width: 90px;
    background-color: white;
    height: 44px;
    margin-left: 15px;
    padding: 10px;
    border: 1px solid #7FC3F9;
}

/* input fild text color  */
.text-color {
    color: #707070;
}

.nav-hight {
    font-size: 18px;
    font-weight: 600;
    padding: 4px 10px;
    color: #414756;
}

.text-color-2 {
    color: #FF8D8D;
}

/* big-input-file */
.big-input-file {
    width: 100%;
    height: 470px;
    border: 0;

}

/* Write for me */
.wfm-button {
    padding-left: 140px;
    padding-right: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    color: white;
    background-color: #0073CF;
    border: 0;
}

.copy-main-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 12px;
    margin: 25px;
    width: 500px;
}

.copy {
    color: #7FC3F9;
    font-size: 13px;
}

.copy-text {
    font-size: 14px;
}

.hr-div {
    height: 57px;
    border: 1px solid #707070;
    margin-left: 13px;
    margin-right: 13px;
}

.hr-big {
    border: 1px solid #707070;
    margin-left: 25px;
    padding: 0;
    margin-top: -40px;
    margin-bottom: -50px;
}

.buttom-links {
    display: none;
}

@media screen and (max-width: 1280px) {

    .copy-main-div {
        width: 400px;
    }

}

@media screen and (max-width: 1180px) {

    .copy-main-div {
        width: 100%;
        margin-left: 0%;
    }

    .the-main-div {
        display: block;
    }

    .hr-big {
        display: none;
    }
}

@media screen and (max-width: 1025px) {

    .the-main-div {
        padding-bottom: 50px;
    }

    .nav-links1 {
        display: none;
    }

    .buttom-links {
        display: inline;
    }
}

@media screen and (max-width: 640px) {
    .filter-button {
        display: none;
    }
}